#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html, body, #root {
  height: 100%;
}




.Carousels {
  display:flexbox;
  justify-content: center;
}

.Carousels button {
  display:block;
  margin: auto;
}

footer {
  margin-top: auto; /* Push footer to the bottom */
}

.PageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.OutletWrapper{
  flex:1;
}

.StoryCarousel {
  display: flexbox;
  justify-content: space-around;
}

.StoryCarousel button {
  margin-top: 50px;
  display: inline-block;
  margin: auto;
}