#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

html, body, #root {
  height: 100%;
}

.BackgroundText {
  color: aliceblue;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); /* 1px horizontal offset, 1px vertical offset, 2px blur radius, shadow color with opacity */
}

body {
  background-image: url("https://dalle-image-storage.s3.amazonaws.com/1713398870151.jpeg");
  background-size: cover; /* Cover the entire background area */
  background-position: center; /* Center the background image */
}


.CarouselButton {
  position: relative;
  z-index: 4;
  width: 5rem;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.CarouselButton2 {
  position: relative;
  z-index: 4;
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border: solid, 6px, cornflowerblue; 
}

.CarouselImage {
  max-height: 400px;
}


.Carousels {
  display:flexbox;
  justify-content: center;
}

.Carousels button {
  display:block;
  margin: auto;
}

.DivContainer {
  background-color: rgb(214, 176, 129);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-width:5px;
  border-color: rgb(214, 176, 129);
  border: solid;
  display:flexbox;
  justify-content: space-between;
}

footer {
  margin-top: auto; /* Push footer to the bottom */
  height: 5vh;
  background-color: rgb(214, 176, 129);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-width:5px;
  border-color: rgb(214, 176, 129);
  border: solid;

}

.FormBody {
  display: inline-block;
  justify-self: center;
}

.FormInput {
  width: 300px;
}

.HeaderContainer {
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.PageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 500px;
}

.OutletWrapper{
  flex:1;
}

.StoryCarousel {
  display: flexbox;
  justify-content: space-around;
}

.StoryCarousel button {
  margin-top: 50px;
  display: inline-block;
  margin: auto;
}